<div class="container">
  <div class="header">
    <h1>Book Management</h1>
    <p class="subtitle">Lista de livros cadastrados</p>
  </div>

  <div *ngIf="errorMessage" class="error-glass">
    <div class="error-icon">❌</div>
    <div class="error-text">
      <strong>CONNECTION ERROR</strong>
      <p>{{ errorMessage }}</p>
    </div>
  </div>

  <div class="grid" *ngIf="!errorMessage && books.length > 0">
    <div class="glass-card author-card" *ngFor="let book of books">
      <div class="card-content">
        <h3>{{ book.title }}</h3>

        <p class="cpf">
          ID: {{ book.id }}
        </p>

        <p class="income">
          Autor: {{ book.authorName || 'Autor não informado' }}
        </p>
      </div>
    </div>
  </div>

  <div class="loader" *ngIf="!errorMessage && books.length === 0">
    <div class="spinner"></div>
    <p>Nenhum livro encontrado.</p>
  </div>
</div>
